header {
  width: 100%;
}
.header-container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 12px 50px;
  height: 50px;
  align-items: center;
  width: 90%;
  background: rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid #ddd;
  margin: 0 auto;
}

/* .header-container:hover {
  background: rgba(255, 255, 255, 1);
} */

/* .header-container.toSticky {
  background: rgba(255, 255, 255, 1) !important;
} */

ul > li {
  list-style: none;
}

ul > li > a {
  text-decoration: none;
  color: black;
}
.menu {
  flex: 3;
}

.menu > ul {
  display: flex;
}

.menu > ul > li {
  padding: 0 12px;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.sub-menu {
  position: absolute;
  width: 150px;
  border: 1px solid gray;
  padding: 10px 0 10px 20px;
  top: 50px;
  visibility: hidden;
  /*canxem*/
  transition: 0.5s;
  z-index: 1;
  background: #fff;
}

.menu > ul > li:hover .sub-menu {
  visibility: visible;
  /*canxem*/
  top: 53px;
}

.sub-menu > li > a {
  font-weight: normal;
  font-size: 12px;
}

.sub-menu ul {
  padding-left: 20px;
}

.menu > ul > li a {
  display: block;
  font-size: 12px;
  font-weight: bold;
  display: block;
  line-height: 20px;
  position: relative;
  padding: 5px 0;
}

.menu > ul > li > a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: red;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  /* truc x thu nhỏ về 0*/
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu > ul > li > a:hover {
  color: #777373;
}
.menu > ul > li > a:hover:after:not(.active) {
  background: #fff;
}
.menu > ul > li > .active::after {
  transform: scaleX(1);
}
.menu > ul > li > a:hover::after {
  transform: scaleX(1);
  /* 1 tương ứng 100% */
}

.others {
  flex: 1;
}

.others > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.others > ul > li {
  margin-left: 20px;
  position: relative;
}

.others > ul > li:first-child {
  position: relative;
}

.search {
  display: inline-block;
}

.others > ul > li:first-child input {
  width: 100%;
  position: relative;
  border: none;
  border-bottom: 1px solid gray;
  background: transparent;
  outline: none;
}

/* .others > ul > li:first-child i {
  position: absolute;
  right: 10px;
} */
